
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background:url(../../img/background.jpg)no-repeat center center/cover;
}
/* flex */
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}

/* app */
.app{
    height: 100vh;
    width: 100vw;

}



.container{
    width: 50%;
    height: 80%;
    position: relative;
}

.game-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1rem;
}

.square{
    background-color: rgb(10, 10, 9);
    width: 100%;
    height: 100%;
    cursor: pointer;

    position: relative;
    transition: all .2s;
}

.square:hover{
    background: rgba(143, 137, 137, 0.692);
}
.x{
    width: 7px;
    height: 80%;
    transform: rotate(45deg);
    cursor: not-allowed;
    background-color: white;
    position: relative;
}

.x::after{
    content: "";
    position: absolute;
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    background-color: white;
}

.o{
    width: 60%;
    height: 80%;
    cursor: not-allowed;
    border: 10px solid white;
    border-radius: 50%;
}

#winner{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 300;
    color: white;
    background: rgba(128, 128, 128, 0.589);
}
#winner h2{
    font-size: 8rem;
}
#winner .winner-text{
    font-size: 12rem;
    color: slategray;
}
.playing{
    color: white;
    font-size: 5rem;
    
}
#restart{
    padding: 1rem 2rem;
    background: #646e7c;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all .3s;
}
#restart:hover{
    background: #646e7ca1;
}
.history{
    display: flex;
    align-self: center;
    flex-direction: column;
    height: 50%;

}
.move{
    background: white;
    width: 4vw;
    height: 3vh;
    margin: 1rem;
    cursor: pointer;
}
@media (max-width:900px) {
    .x{
        width: 5px;
        height: 40%;
        transform: rotate();
    }
    .o{
        height: 40%;
    }
    .move{
        width: 15vw;
    }
}